<div class="mt-4">
    <h1>FORM UPDATE COURSE</h1>

    <form method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{course.name}}"
                placeholder="Enter input . . . ">
        </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea  class="form-control" id="description" name="description"
                placeholder="Enter input . . . ">{{course.description}}</textarea>

        </div> 

         <div class="form-group">
            <label for="videoId">VideoId</label>
            <input type="text" class="form-control" id="videoId" name="videoId" value="{{course.videoId}}"
                placeholder="Enter input . . . ">
        </div>

        <button type="submit" class="btn btn-info">Update Course</button>
    </form>
</div>