<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            LeBaoTu
             <img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.6435-9/89955001_2611176902538880_6316643092678049792_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=174925&_nc_ohc=EBaenNJARpQAX-5oBib&_nc_ht=scontent.fhan2-2.fna&oh=00_AT-XrA3NxsiCsIdYSBKdIybCXl3mS9DvMgXJHEl-lzH1uw&oe=61EC9577" alt="" class="user-avatar"/>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/courses/create">Create Course</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Course Me</a>
            <a class="dropdown-item" href="/courses/create">Blog Me</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Log Out</a>
          </div>
        </li>

      </ul>


    </div>
  </div>
</nav>